main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.output {
  max-width: 100%;
  border: 1px solid pink;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#number-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  padding: 10px;
  margin: 10px;
  border: 1px solid pink;
}
